.recipe-img {
    width: 50%;
    height: 100%;
}

.recipe-body {
    height: 80%;
    width: 100%;
    padding: 40px 20px;
    overflow: scroll;
}

.recipe-details {
    padding: 10px;
    text-align: center;
    background-color: #07a7a2;
}

.recipe-ingredients {
    padding: 20px 0px;
}

.directions-list {
    border-collapse: separate;
    border-spacing: 0 15px;
    padding-bottom: 50px 0px;
}

.recipe-floating-bottom {
    float: left;
}

.recipe-btm-buttons {
    opacity: 0.25;
}

.recipe-btm-buttons:hover {
    opacity: 0.75;
}

.check {
    padding: 5px;
}

a {
    color: aliceblue;
}

a:hover {
    color: aliceblue;
}

.search-button {
    margin: 0px 25px;
    width: 10%;
}

.btn, .btn-outline-info {
    border-color: #07a7a2 !important;
    color: #07a7a2 !important;
    background-size:contain;
}

.btn:hover, .btn-outline-info:hover {
    background-color: #07a7a2 !important;
    color: aliceblue !important;
}

.added-to-list {
    background-color: #07a7a2 !important;
    color: aliceblue !important;
}

