body {
  background-color: #fff;
}

img {
  object-fit: cover;
  height: 230px;
  border-radius: 5px;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 28px;
}

h3 {
  margin: 25px;
  margin-bottom: 0px;
  padding: 0;
}

h4 {
  margin: 5px;
}

.main-page {
  background-color: #07a7a2;
  color: #eeeeee;
  text-align: center;
  padding: 5px;
}

.item-rows {
  padding: 0;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 25px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 6px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0;
  padding: 2px 8px;
  text-align: center;
}

ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  margin-right: 25px;
}

#ul::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}

img {
  height: 100px;
  margin: 0;
}

li {
  min-width: 40%;
  width: 100%;
}

.hide {
  width: 25px;
}

.but {
  border: none;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.add {
  height: 30px;
  width: 30px;
  font-size: 22px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.mag {
  height: 30px;
  width: 30px;
  font-size: 14px;
  padding: 0;
  position: absolute;
  right: 50px;
  top: 10px;
  background-color: #000000dd;
}

.vertical-align {
  vertical-align: center;
}

.center {
  text-align: center;
}

.large {
  position: absolute;
  top: 0px;
  background-color: white;
  width: calc(100% - 100px);
  height: calc(100% - 175px);
  padding: 25px;
}

#new_item {
  display: none;
  transition: 3s;
}

#info {
  display: none;
  transition: 3s;
}

#new_img {
  display: none;
}

#exst_new_img {
  display: none;
}

#old_img {
  border-radius: 5px;
  height: 75px;
  width: 75px;
  border: none;
  margin-bottom: 10px;
  object-fit: cover;
}

#exst_old_img {
  border-radius: 5px;
  height: 75px;
  width: calc(100% - 100px) !important;
  border: none;
  margin-bottom: 10px;
  object-fit: cover;
  right: 0;
  margin-top: -60px;
}

.right {
  text-align: right;
}

input {
  font-family: inherit;
  border: none;
  border-bottom: #07a7a2 solid 3px;
  margin-bottom: 25px;
  width: 67%;
}

#new_food {
  font-size: 18px;
  margin-bottom: 15px;
}

#exst_food {
  font-size: 18px;
  margin-bottom: 15px;
}

input:focus {
  outline: none !important;
}

.diet_tag, .exst_diet_tag {
  display: none;
}

.diet_tag + label, .exst_diet_tag + label {
  background-color: #eee;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 25px;
}

.diet_tag:checked + label, .exst_diet_tag:checked + label {
  background-color: #07a7a2;
}

.cat_tag, .exst_cat_tag {
  display: none;
}

.cat_tag + label, .exst_cat_tag + label {
  background-color: #eee;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.cat_tag:checked + label, .exst_cat_tag:checked + label {
  background-color: #07a7a2;
}

.add_label {
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  transition: 0.2s;
}

.add_label:hover {
  background-color: #07a7a2;
}

.done {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #07a7a2;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px #07a7a2 solid;
}

.cancel {
  position: absolute;
  left: 16px;
  bottom: 16px;
  border: 2px #c44 solid;
  color: #c44;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cancel:hover {
  background-color: #c44;
  color: #eee;
}

#new_qty {
  width: 25%;
}

#new_qty_unit {
  width: 25%;
}

#exst_qty {
  width: 25%;
}

#exst_qty_unit {
  width: 25%;
}

textarea {
  font-family: inherit;
  border: #07a7a2 solid 3px;
  width: 75%;
  border-radius: 5px;
}

#notes_lab {
  margin-top: 25px;
}

#date {
  width: 120px;
}

#close {
  height: 30px;
  width: 30px;
  font-size: 18px;
  padding: 0;
  left: 0;
  border: 2px #c44 solid;
  color: #c44;
  background-color: transparent;
  margin-bottom: 30px;
  margin-left: -9px;
  margin-top: -9px;
}

#change {
  height: 30px;
  width: 30px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  left: 0;
  margin-top: 31px;
  margin-left: 16px;
  position: absolute;
  background-color: #07a7a2;
  color: #eee;
}

#delete {
  height: 30px;
  width: 30px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  left: 0;
  margin-top: 66px;
  margin-left: 16px;
  position: absolute;
  background-color: #c44;
  color: #eee;
}


#essentials .small {
  border: 2px #07a7a2 solid;
  box-shadow: none;
}

#essentials img {
  border-bottom: 2px #07a7a2 solid;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#essentials .small:hover {
  background-color: #07a7a2;
}


#dairy .small {
  border: 2px #49c solid;
  box-shadow: none;
}

#dairy img {
  border-bottom: 2px #49c solid;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#dairy .small:hover {
  background-color: #49c;
}
