@import url("https://fonts.googleapis.com/css?family=Lexend");
  
body{
    /*make content touch the edge of page*/
    padding: 0;
    margin: 0;
    background-color: #fff;
}
#header{
    /*Very top of page*/
    background-color: #07a7a2;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
}
#title{
    /*Current page's name*/
    color: #fff;
    font-family: "Lexend", sans-serif;
    text-align: center;
    font-size: 20pt;
}
#tophalf{
    /*contains profile picture and name*/
    background-color: #fff;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: #000 solid 2px;
}
#household{
    /*contains profile picture and name*/
    background-color: #fff;
    width: 100%;
}
.member{
    font-family: "Lexend", sans-serif;
    font-size: 11pt;
    border-top: #707070 solid 1px;
    padding: 2%;
}
.member_name{
    font-size: 14pt;
}
.member_desc{
    clear: left;
    margin-left: 2%;
}
.ppic_house{
    float: left;
    margin-right: 3%;
}
#add{
    background-color: #fff;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
    font-size: 14pt;
    font-family: "Lexend", sans-serif;
    border-bottom: #707070 solid 2px;
    margin-bottom: 20%;
}
#imagecrop{
    /*crops the image into a circle*/
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#name{
    /*current user's name*/
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 14pt;
}
.buttons{
    /*buttons on the lower half, Households, Settings, and Accounts*/
    background-color: #fff;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
    font-size: 14pt;
    font-family: "Lexend", sans-serif;
    border-bottom: #707070 solid 2px;
}
#firstButton{
    border-top: #707070 solid 2px;
}
.buttons:hover{
    background-color: #d0d0d0;
}
#back{
    color: #000;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-size: 11pt;
    margin-bottom: 2%;
}
