body {
  margin: 0;
}

.heading {
  font-size: 20pt; 
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.main-nav {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item {
  width: 25%;
  color: black;
}

.nav-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.nav-item .nav-icon {
  height: 50%;
  margin-bottom: 3pt;
}
  
.active {
  color: #07a7a2;
  font-weight: bold;
}


