.main-page {
    height: calc(88vh - 50px);
    overflow-y: scroll;
}

.list-heading {
    z-index: 2;
}

.list-name { 
    border: none;
    width: 60%;
    font-size: 17pt;
    z-index: 1;
    border-bottom: solid #07a7a2 3px
}
.list-name:focus-within { 
    outline: none;
}
.list-name:disabled { 
    background: none;
    color: black;
    border: none
}

.list-btn-holder {
    font-size: 13pt !important;
    font-weight: normal;
    float: right;
    vertical-align: middle;
    z-index: 3;
}

.edit-list {
    border-radius: 6px;
    border: solid #07a7a2 2px;
    background: none;
    color: #07a7a2;
    margin-top: 3px;
}

.delete-list {
    background: none;
    border: solid #ef4545 2px;
    border-radius: 6px;
    color: #ef4545;
    margin-top: 3px;
}

.list-group-item {
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}

.list-group-item:first-child {
    border-radius: 0;
    border-top: none;
}
.list-group-item:last-child {
    border-radius: 0;
}

.check {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.list-item-label { 
    border: none;
}
.list-item-label:focus-within { 
    outline: none;
}

.list-item-qty { 
    width: 4em;
    border-color: rgba(0,0,0, .125);;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    margin-left: auto;
    color: inherit;
}
.list-item-qty:focus-within { 
    outline: none;
}

.completed {
    text-decoration: line-through;
    color: gray
}

.completed > .list-item-label {
    color: gray
}

.btn-close{
    padding: 0;
    margin-left: auto;
}

.new-item {
    border-width: 0px 0px 3px 0px !important;
    border-radius: 0px;
    border-color: #07a7a2 !important;
    font-size: 12pt;
    background: none !important;
    padding-left: 2px;
}

.btn-add {
    color: #07a7a2;
    font-size: 20pt;
    padding-left: 18px;
    padding-right: 12px;
    background: none !important;
}

#new-list-icon {
    vertical-align: middle;
}

#new-list-btn {
    background-color: #07a7a2;
    font-weight: 500;
    border-color: #07a7a2; 
}

#header {
    z-index: 99;
}